.loading-indicator-container {
  height: 5px;
  &.loading,
  &.still-loading {
    
    // Hide user menu while page loading
    ~ .d-header-wrap {
      &.drop-down-mode .d-header-icons .active .icon {
        border-color: transparent;
      }
      .menu-panel.user-menu.revamped {
        display: none;
      }
      .header-cloak {
        display: none !important;
      }
    }
    
    // Add spinner
    ~ #main-outlet-wrapper {
      &:before {
    display: block;
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;

}

/* Loading Animation */
  @keyframes loading {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.7;
    }
  }
      
      // Hide #main-outlet while page loading
      .custom-topic-layout :nth-child(1), .custom-topic-layout :nth-child(2), #user-content :nth-child(1), #user-content :nth-child(2), .cooked {
        color: transparent; /* make the text invisible */
        user-select: none; /* prevent selection of the text */
        background-color: #f3f3f3;
    background: linear-gradient(90deg, transparent,
            rgba(243,243,243, 1), transparent);

    animation: loading 0.8s infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate;

      } 

       .custom-topic-layout, #user-content {
        overflow: hidden;;
      } 
          
      
    }
    
    // Hide modal while page loading
    ~ .modal-container {
      .d-modal {
        display: none;
      }
      .modal-backdrop {
        display: none;
      }
    }    
  }
}
