.loading-indicator-container {
  height: 3px;
  &.loading,
  &.still-loading {
    
    // Hide user menu while page loading
    ~ .d-header-wrap {
      &.drop-down-mode .d-header-icons .active .icon {
        border-color: transparent;
      }
      .menu-panel.user-menu.revamped {
        display: none;
      }
      .header-cloak {
        display: none !important;
      }
    }
    
    // Add spinner
    ~ #main-outlet-wrapper {
      &:before {
    display: block;
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;

}

/* Loading Animation */
  @keyframes loading {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.0;
    }
  }
      
      // Hide #main-outlet while page loading
     #main-outlet {

          animation: loading 0.4s;
          animation-iteration-count: 1;
         

      } 

       .custom-topic-layout, #user-content {
        overflow: hidden;;
      } 
          
      
    }
    
    // Hide modal while page loading
    ~ .modal-container {
      .d-modal {
        display: none;
      }
      .modal-backdrop {
        display: none;
      }
    }    
  }
}
