.loading-indicator-container {
  height: 0px;
  &.loading,
  &.still-loading {
    
    // Hide user menu while page loading
    ~ .d-header-wrap {
      &.drop-down-mode .d-header-icons .active .icon {
        border-color: transparent;
      }
      .menu-panel.user-menu.revamped {
        display: none;
      }
      .header-cloak {
        display: none !important;
      }
    }
    
    // Add spinner
    ~ #main-outlet-wrapper {
      &:before {
  background-color: var(--loading-grey);
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, .5) 50%,
    rgba(255, 255, 255, 0) 60%
  ) var(--loading-grey);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
      
      // Hide #main-outlet while page loading
      #main-outlet {
        display: none;
      }
    }
    
    // Hide modal while page loading
    ~ .modal-container {
      .d-modal {
        display: none;
      }
      .modal-backdrop {
        display: none;
      }
    }    
  }
}
